<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label 'Ingrese Su Nombre' %>
    <%= f.text_field :name%>
  </div>

  <div class="field">
    <%= f.label 'Subir una Foto de Perfil' %>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label 'Ingrese Su Número de Telefono' %>
    <%= f.telephone_field :phone%>
  </div>

  <div class="field">
    <%= f.label 'Ingrese Su Email' %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label 'Cliente o Profesional' %>
    <%= f.select :role, @roles %>
  </div>


  <div class="field">
    <%= f.label "Ingrese una Contraseña" %>
    <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> Caracteres Mínimo</em>
    <% end %>
    <%= f.password_field :password%>
  </div>

  <div class="field">
    <%= f.label "Confirme su Contraseña" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
