<div style= "padding-top : 100px">

</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="container py-5">
    <h2>Registro</h2>
      <div class="row">
        <div class="col-lg-8 mx-auto">

  <div class="field">
    <%= f.label :name, 'Ingrese Su Nombre' %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :address, "Dirección" %>
    <div class="row">
      <div class="col-md-10">
    <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="col-md-2">
      <%= link_to  "#", class: 'btn btn-primary', id: "find-address" do %>
      <i class="fa fa-map-marker"></i>
      <% end %>
    </div>
  </div>
  </div>

  <div class="field">
    <%= f.label :photo, 'Subir una Foto de Perfil' %>
    <%= f.file_field :photo, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :phone, 'Ingrese Su Número de Telefono' %>
    <%= f.telephone_field :phone, class: 'form-control', maxlength: '10'%>
  </div>

  <div class="field">
    <%= f.label :email, 'Ingrese Su Email' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group mt-3">
    <%= f.label :role, 'Cliente o Profesional' %>
    <%= f.select :role, @roles, {include_blank: true}, class: 'form-control' %>
  </div>

  <div class="form-group mt-3">
         <%= f.label :ocupation, "Ocupación" %><i>solo llenar si se ha identificado como profesional</i>
         <%= select("user", "ocupation", %w[Profesor Gasfiter Carpintero Mecanico Medico Masajista], {include_blank: true}, class: 'form-control')%>
  </div>

  <div class="field">
    <%= f.label :password, "Ingrese una Contraseña" %>
    <% if @minimum_password_length %>
    <em><%= @minimum_password_length %> Caracteres Mínimo</em>
    <% end %>
    <%= f.password_field :password, class: 'form-control'%>
  </div>


  <div class="field">
    <%= f.label :password_confirmation, "Confirme su Contraseña" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
<script type=>
$("#find-address").click(function(event){
  event.preventDefault();
  if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(getAddress);
  } else {
  x.innerHTML = "Geolocation is not supported by this browser.";
  }
})



function getAddress(position) {
var latitude = (position.coords.latitude);
var longitude = (position.coords.longitude);
$.ajax({
  url: '/geocontroller/findaddress',
  type: 'GET',
  dataType: 'script',
  data: {latitude: latitude, longitude: longitude}
})
.done(function() {
  console.log("success");
})
.always(function(){
 $("#find-address").html('<i class="fa fa-map-marker"> </i>');
 })
};
</script>
