<div id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounce">Tus Citas</h2>
      </div>
      <% @appointments.each do |app|%>
      <div class="col-md-6 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
        <img src="<%= asset_path app.professional.photo%>" class="img-responsive" alt="<%= app.professional.name %>">
        <h4><%= app.professional.name%> </h4>
        <h4><%= app.name %></h4>
        <h3><%= app.date %></h3>
        <h2><%= app.description%></h2>
               <%= link_to "Volver", root_path, class:'smoothScroll btn btn-success wow fadeInUp' %>
               <%= link_to "Detalles", user_appointment_path(current_user, app),class:'smoothScroll btn btn-primary wow fadeInUp' %>
               <%= link_to 'Delete', destroy_path(app.professional.id, app), method: :delete, class: "btn btn-danger btn-sm" %>
      </div>
         <% end %>
    </div>
  </div>
</div>
